[Unit]
Description=Start wombat's server
After=network.target

[Service]
ExecStart=/home/wombat/server/server.py
Type=simple

[Install]
WantedBy=default.target
